@model EntityLayer.Concrete.User;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>User Register</h1>

@using (Html.BeginForm("Index", "User", FormMethod.Post)) {
    @Html.Label("Username: ")
    @Html.TextBoxFor(x=>x.Username)
    @Html.ValidationMessageFor(x=>x.Username)
    <br />
    <br />
    @*<input type="text" id="username" name="Username"/>*@
    @Html.Label("Password: ")
    @Html.PasswordFor(x=>x.Password)
    @Html.ValidationMessageFor(x=>x.Password)
    <br />
    <br />
    @*<input type="password" id="password" name="Password"/>*@
    @Html.Label("Password (Again): ")
    @Html.PasswordFor(x=>x.Repassword)
    @Html.ValidationMessageFor(x=>x.Repassword)
    <br />
    <br />
    @*<input type="password" id="repassword" name="Repassword"/>*@
    <button type="submit">Kayıt Ol</button>
}
