@model EntityLayer.Concrete.User;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>User Register</h1>

@using (Html.BeginForm("Index", "User", FormMethod.Post)) {
    <label for="username">Kullanıcı Adı:</label>
    @Html.TextBoxFor(x=>x.Username)
    @Html.ValidationMessageFor(x=>x.Username)
    @*<input type="text" id="username" name="Username"/>*@
    <label for="password">Şifre:</label>
    @Html.TextBoxFor(x=>x.Password)
    @Html.ValidationMessageFor(x=>x.Password)
    @*<input type="password" id="password" name="Password"/>*@
    <label for="password">Şifre (Tekrar):</label>
    @Html.TextBoxFor(x=>x.Repassword)
    @Html.ValidationMessageFor(x=>x.Repassword)
    @*<input type="password" id="repassword" name="Repassword"/>*@
    <button type="submit">Kayıt Ol</button>
}
