@using EntityLayer.Concrete
@model List<Hotel>

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Capacity</th>
        <th>PricePerAdult</th>
        <th>PricePerChild</th>
        <th>Location</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.Capacity</td>
            <td>@item.PricePerAdult</td>
            <td>@item.PricePerChild</td>
            <td>@item.Location</td>
        </tr>
    }
</table>