@model EntityLayer.Concrete.Hotel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Service Creation</h1>

<div>
    <span>Select Service Type: </span>
    <input type="radio" id="hotelType" name="serviceType" value="Hotel"/>
    <label for="hotelType">Hotel</label>
    <input type="radio" id="flightType" name="serviceType" value="Flight"/>
    <label for="flightType">Flight</label>
    <br />
    <br />
    
    <form method="post" id="serviceForm" asp-controller="Service" asp-action="IndexHotel"></form>  <!--Buradaki asp-action kısmını gelen veriye göre nasıl değiştirebilirim?-->
</div>

<script>
    document.getElementById("hotelType").onclick = function () {
        document.getElementById("flightType").checked = false;
        document.getElementById("serviceForm").innerHTML = `
            @Html.Label("Service Name: ")
            @Html.TextBoxFor(x => x.Name)
            @Html.ValidationMessageFor(x=>x.Name)
            <br />
            <br />

            @Html.Label("Location: ")
            @Html.DropDownListFor(x => x.Location, (List<SelectListItem>)ViewBag.ll)
            <br />
            <br />
            
            @Html.Label("Capacity: ")
            @Html.TextBoxFor(x => x.Capacity)
            @Html.ValidationMessageFor(x=>x.Capacity)
            <br />
            <br />
            
            @Html.Label("Price Per Adult: ")
            @Html.TextBoxFor(x => x.PricePerAdult)
            @Html.ValidationMessageFor(x=>x.PricePerAdult)
            @Html.Label("Price Per Child: ")
            @Html.TextBoxFor(x => x.PricePerChild)
            @Html.ValidationMessageFor(x=>x.PricePerChild)
            
            <button type="submit">Add Hotel Service</button>
        `;
    }
    document.getElementById("flightType").onclick = function () {
        document.getElementById("hotelType").checked = false;
        document.getElementById("serviceForm").innerHTML = `
            <h2>Flight için gerekli kayıt işlemleri çalışmıyor.</h2>
            <label for="serviceName">Service Name: </label>
            <input type="text" id="serviceName" name="Code"/>
            <br />
            <br />
            
            @Html.Label("Location: ")
            @Html.DropDownListFor(x => x.Location, (List<SelectListItem>)ViewBag.ll)
            <br />
            <br />

            <label for="gidis">Departure</label>
            <input type="date" id="gidis" name="Departure"/>
            <label for="donus">Arrival</label>
            <input type="date" id="donus" name="Arrival"/>
            <br />
            <br />
            
            <label for="capacity">Capacity: </label>
            <input type="number" id="capacity" name="Capacity"/>
            <br />
            <br />
            
            <label for="peradult">Price Per Adult: </label>
            <input type="number" id="peradult" name="PricePerAdult" />
            <label for="perchild">Price Per Child: </label>
            <input type="number" id="perchild" name="PricePerChild" />

            <button type="submit">Add Flight Service</button>
        `;
    }
</script>
